@import "tailwindcss";

*{
  box-sizing: border-box;
}


/* Fonte */
@theme {
  --font-sans: "Hanken Grotesk", sans-serif;

  /* Base / Neutros */
  --color-background: #FFFFFF;
  --color-charcoal: #2B2522;
  --color-charcoal-hover: #45403A;

  /* Pêssego */
  --color-peach: #E0A07E;
  --color-peach-dark: #B08763;

  /* Texto */
  --color-text-secondary: #5A524B;
  --color-text-muted: #8A8079;
  --color-text-light: #B0A89F;

  /* Linhas */
  --color-border: #E2DAD2;
  --color-separator: #D8CFC6;

  /* Off-white */
  --color-off-white: #F4EFEA;

  /* Footer */
  --color-footer-light: #C9BFB5;
  --color-footer-dark: #8A7E72;

    --animate-marquee: marquee 20s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

    --animate-float: float 4s ease-in-out infinite;

  @keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-15px);
    }
  }
}

@layer components {
  .container {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 1.5rem;
  }
}


input{
  border: 1px solid var(--color-border);
  padding: 10px;
  display: block;
  width: 100%;
  color: var(--color-text-muted);
}

input:focus{
  border: none;
  outline: 1px solid black;
}